<h2><%= @post.title %></h2>

<%= @post.vote_score %>


<%= form_for(@vote) do |f| %>
  <div class="field">
    <%= f.hidden_field(:post_id, value: @post.id) %> 
    <%= f.submit "Upvote" %>   
  </div>
<% end %>

<%= form_for(@vote) do |f| %>
  <div class="field">
    <%= f.hidden_field(:post_id, value: @post.id) %>
    <%= f.submit "Downvote" %>   
  </div>
<% end %>